#main{

}

.titre{

}

h1{

}

h1.titre{

}


h1,.titre{
  
}

h1#main{

}

.titre:hover{

}

button:disabled{

}

input:invalid{

}

table td{

}

table>thead td{

}

h1+h3{

}

[data-inject]{

}

input[type='number']{

}

a[href$=".pdf"]{

}

a[href^="http://"]{
    
}

a[href~="google"]{
    
}